__pycache__
*.pyc
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
coverage.xml
htmlcov/
.cache/
.env
.env.*
.python-version
venv
.venv
node_modules
.next
.next.old*
coverage
staticfiles
.pgdata
.DS_Store
.vscode/
.idea/
*.log
